
.container-product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    margin: 10px;
    width: 300px;
    min-height: 585px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-card img {
    border-radius: 5px;
    width: 300px;
    height: 450px;
}

.card-name-price {
    font-size: 16px;
    margin: 15px 0 15px 0;
}

.card-name {
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
    margin-top: 5px;
    font-weight: 550;
}

.product-card button {
    background-color: #024cba;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color:white;
}